<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Polyphonic.earth</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div id="app">
    <transition name="fade">
      <div 
        id="loading-screen"
        v-if="this.isLoading"
      >
      </div>
    </transition>
    <h1>Polyphonic.earth</h1>
    <section class="header">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li 
          id="about-link"
        >
          <a href="#" @click="toggleAbout()">
            About the project +
          </a>
        </li>
        <transition name="fade">
          <li 
            id="contact-link" 
            v-if="this.introShown && !this.aboutOpen"
          >
            <a href="#" @click="toggleIntro()">
              Help +
            </a>
          </li>
        </transition>
      </ul>
    </section>
    <transition name="fade">
      <section 
        id="intro-content" 
        v-if="this.introOpen && !this.aboutOpen"
      >
        <p class="text-block">
          In times that call for us to be physically apart, we would like to propose an alternative view of what it can mean to be together. Nobody is ever alone. We are all part of the ecosystem of the Earth.
        </p>
        <div id="list-grid-container">
          <ul class="list-grid">
            <li class="point-grid">
              <p class="intro-number">
                1.
              </p>
              <p class="intro-point">
                Allow your location to be accessed so you can emit a sound based on your geolocation. If you would prefer not to share, you will view the website as a guest. 
              </p>
            </li>
            <li class="point-grid">
              <p class="intro-number">
                2.
              </p>
              <p class="intro-point">
                Press enter to feel closer to your earthly neighbours with sound.
              </p>
            </li>
            <li class="point-grid">
              <p class="intro-number">
                3.
              </p>
              <p class="intro-point">
                Once inside, press say hi to participate to the live melody.
              </p>
            </li>
          </ul>
        </div>

        <p class="text-block">
          Each light is an indication of where other people currently on the website are located. Each person adds a specific note to the sound playing live.
        </p>

        <button 
          id="intro-cta"
          @click="toggleIntro()"
        >
          Enter
        </button>
      </section>
    </transition>
    
    <transition name="fade">
      <section 
        id="about-content"
        v-if="this.aboutOpen"
      >
        <h2>
          About the project
        </h2>
        <p>
          The lights are indications of where the other connected people are currently located. Each person logged in adds a specific melody to the sound playing live on the website.
        </p>
      </section>
    </transition>
    
    <transition name="fade">
      <div 
        id="cta-container"
        v-if="this.ctaEnabled && !this.introOpen"
      >
        <button 
          id="cta" 
          @click="triggerCta()"
        >
          Say hi
        </button>
      </div>
    </transition>
    
    <div class="three-container">
    </div>

    <div id="logo-container">
      <a href="http://www.climateandcities.com/" target="_blank">
        <img src="/assets/LOGO_TRANSPAsset-32x.png" id="logo" />
      </a>
    </div>

    <transition name="fade">
      <div id="gdpr-banner-container" v-if="GDPRpopup">
        <div id="gdpr-banner">
          <span>Gdpr test. Link to privacy policy goes here.</span> 
          <button @click="acceptGDPR()" id="accept-gdpr">Yes</button>
          <button @click="closeGDPR()"  id="reject-gdpr">No</button>
        </div>
      </div>
    </transition>

  </div>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet"> 
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./js/bundle.js" type="module"></script>
</body>
</html>
